/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/
.centro{
    background: yellow;
    width: 70%;
    height: 50%;
    align: center;
    
} 
html, body {
    background: #fefefe;
  }
.Seccion {
    float: left;
    width: 660px;
    margin: 20px;
}
.div {
    background: greenyellow;
    width: 100px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #000000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}